$colors: (
  primary: #7db9d1,
  secondary: #1f1f1f,
  accent: #fff7f0,
  accent2: #bf5c06,
  cta: #f5a75d
);

/******************** 
Responsive Media Queries 
********/

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/*************
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Anton|Roboto:400,500|Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  width: 100%;
  height: 100%;
}
header {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: map-get($colors, primary);
    height: 50px;
    z-index: 5;
    width: 100%;
    display: flex;
    padding-right: 20px;
    align-items: center;

    .logo {
      flex-grow: 1;
      padding-left: 20px;
      font-family: "IBM Plex Sans";
      color: transparent;
      -webkit-text-stroke: 1px map-get($colors, accent);
      letter-spacing: 3px;
      font-size: 24px;
    }
    .main-nav {
      display: flex;
      list-style-type: none;
    }

    .active {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .main-nav li {
      letter-spacing: 1px;
      font-size: 16px;
      text-align: center;
      margin: 0 0 0px 15px;
    }

    .nav-links {
      color: map-get($colors, secondary);
      font-family: "Shadows into light";
      position: relative;
      text-decoration: none;
    }

    .nav-links:hover {
      color: map-get($colors, secondary);
    }

    .nav-links:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: map-get($colors, accent);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .nav-links:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .aboutImg {
    position: relative;
    top: 50px;
    img {
      max-width: 100%;
    }
    h1 {
      font-family: "Anton";
      font-size: 24px;
      color: map-get($colors, accent2);
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      position: absolute;
      z-index: 1;
      top: 20%;
      transform: translateY(-80%);
      left: 70%;
      transform: translateX(-30%);

      @include for-tablet-portrait-up {
        font-size: 48px;
      }

      @include for-desktop-up {
        font-size: 64px;
      }
      @include for-big-desktop-up {
        font-size: 88px;
      }
    }
  }
}

main {
  position: relative;
  top: 40px;
  height: 65vh;
  background-color: map-get($colors, secondary);

  @include for-tablet-portrait-up {
    height: 40vh;
  }
  .aboutContent {
    @include for-tablet-portrait-up {
      display: flex;
      align-items: center;
    }
    .content {
      padding: 15px;
      padding-bottom: 25px;

      @include for-desktop-up {
        padding: 25px;
      }
      @include for-big-desktop-up {
        padding: 25px 150px 150px 150px;
      }

      p {
        font-size: 16px;
        line-height: 200%;
        @include for-desktop-up {
          font-size: 18px;
        }
        @include for-big-desktop-up {
          font-size: 24px;
        }
      }

      .author {
        font-family: "Anton";
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 16px;
        color: map-get($colors, primary);
      }

      p:nth-child(2) {
        border-top: 1px solid rgba(244, 244, 244, 0.7);
        font-family: "saattlische";
        color: map-get($colors, accent);

        width: 100%;
      }

      .aboutBttn {
        margin-top: 30px;

        @include for-tablet-portrait-up {
          margin-top: 50px;
        }
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 40px;
        background-color: map-get($colors, cta);

        .bttn {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 18px;
          font-family: "Shadows into light";
          background-color: map-get($colors, cta);
          height: 40px;
          border: none;
        }
      }
    }
  }
}
footer {
  position: relative;

  top: 40px;
  height: 20vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: map-get($colors, primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .copy {
    color: map-get($colors, secondary);
    font-family: "Shadows into light";
    font-size: 16px;
    a {
      color: map-get($colors, secondary);
      font-family: "saatlische";
    }
  }
  .socials {
    font-size: 36px;
    color: map-get($colors, accent);
    padding: 1rem;
    i {
      padding-right: 15px;
    }
  }
}
