/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

/***************************************/






*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans';
    font-weight: 700;
    /*
    background-color:#8Ac2d7;
    */

    /* DESKTOP COLOR BACKGROUND
    background-image: linear-gradient(to right, #8dc8d8 40%, #1f1f1f 40%);
    */
}

header{
 
 
 width: 100%;

 
}
.logo{
   
   padding: 0;
   margin: 0;
   display: none;

  }

.nav{ 
  padding: 0;
  margin: 0;
position: fixed;
z-index: 3; 
}


.bg{

    background-color: #8ac2d7;
    height: 50px;
    width: 100%;
   top: 0;
    z-index: 1;
   position: absolute;
 
   
  }

a {
    font-size: 12px;
    text-decoration: none;
    color: #fafafa;
    font-family: "Josefin Sans";
    transition: color 0.3s ease;
    
  }
  
  a:hover {
    color: #e0902f;
  }
  
  .menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 3;
    position: relative;

  }
  
  
  .menu-desktop li {
    padding-right: 15px;
  }



  /************************
* DESKTOP VERSION NAV 
*************************/
@media screen and (min-width: 600px){
  
    .menu-desktop{
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-right: 50px;
    }
      
    
    
    .bg{
    
      width: 400px;
      right: 0;
     
    }
    .logo{
      display: block;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      background-color: transparent;
      font-family: 'Bungee Shade';
      font-size: 30px;
      color: black;
      height: 0;
      position: relative;
      bottom: 60px;

    
      
    }

   
    

    
    
    
    
    
    }
    
    
    
    
    
    
    
    
    
    /***********************************
    ********* General stylings**********
    ***********************************/
    
    main {
    padding: 1.5rem;
      margin-top: 6px;
      width: 100%;
    
      
    }

   
  
    
    p {
      color: #fbfbfb;
      font-size: 12px;
      font-family: 'Josefin Sans';
    }
    
    p > span {
      font-size: 48px;
    }
    
    
    
    form{
    height: 64px;
      
    }

    button{
      overflow: hidden;
      border: none;
      background: none;
      font-size: 16px;
      font-family: 'Josefin Sans';
     
     
    }
    
    .button {
      position: relative;
      color: white;
      width: 150px;
      height: 50px;
      line-height: 50px;
      transition: all 0.3s;
      span {
        transition: all 0.3s;
        tranform: scale(1, 1);
      }
     
    }
    
    .button::before, .button::after {
      content: '';
      position: absolute;
      transition: all 0.3s;
      top: 0;
      bottom: 0;
      right: 0;
      width: 98%;
      height: 95%;
      z-index: 1;
    }
    
    .button::before {
      left: 4px;
      z-index: 1;
    
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 1);
    }
    .button:hover::before {
      opacity: 1;
      transform: scale(1, 1);
    }
    
    .button::after {
      transition: all 0.3s;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .button:hover::after {
      transform: scale(1, .1);
      opacity: 0;
    }
  
    
    
    
    p > .Cap {
      font-size: 48px;
    }
    
    h1{
      font-family: 'Bungee Shade';
      position: relative;
      top: 40px;
      font-size:36px;
      
    }
    
    img{
     max-width: 100%;
     padding-top: 1rem;
     padding-bottom: 1rem;
    }
    .container{
      width: 100%;
      height: 100%;
    }
    
    .content{
      padding-right: 15px;
      padding-left: 15px;

     position: relative;
     bottom: 3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      
    }
    



/*******************************************
GENERAL STYLIINGS
******************************************/

p{
    color: white;
    font-weight: 400;
    font-size: 16px;

}


/***********************************************
ABOUT CONTENT (mobile)
*************************************************/

@media screen and (max-width: 900px){

  .content-about {
    display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
  align-items: flex-start;
  
  
  }
}



/***********************************************
ABOUT CONTENT (Desktop)
*************************************************/



@media screen and (min-width: 900px){
  .content-about{ 
    height: 100vh;
    background-color: #1f1f1f;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'img info';
      grid-gap: 1rem;
      
  }
  
  
  .Main-img{
    grid-area: img;
      background-color: #8dc8d8;
      
     
     
  }
  
  

  
  .content{
      grid-area: info;
  }
}

/***********************************************
ABOUT CONTENT 
*************************************************/


.Main-img{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #8dc8d8;
    width: 100%;
   
}

.content{
    padding: 1rem;
}

.about{
    font-family: 'Bungee Shade';
    color: #8dc8d8;
    font-size: 3rem;

}




